# Introduction

Data was collected from Environment and Climate Change Canada. The data comes from the weather station at Pearson International Airport which updates the weather measurement every 5 minutes. Each individual reading is then taken and aggregated by day to output daily weather measurements.
<br></br>
<br></br>
Source: https://toronto.weatherstats.ca/download.html
<br></br>
Info about the dataset can be found on the about page under the links section. 

Variables:
- date 
- max_temperatire 
- avg_hourly_temperature: the average of the hourly temperature (Think, the sum of the average temperature for each hr divided by 24 hrs)
- avg_temperature: the average temperature for the day. Calculated using the 5 min weather updates.  
- min_temperature
- max_humidex
- min_windchill
- max_relative_humidity
- avg_hourly_relative_humidity
- avg_relative_humidity
- min_relative_humidity
- max_dew_point
- avg_hourly_dew_point
- avg_dew_point
- min_dew_point
- max_wind_speed
- avg_hourly_wind_speed
- avg_wind_speed
- min_wind_speed
- max_wind_gust
- wind_gust_dir_10s
- max_pressure_sea
- avg_hourly_pressure_sea
- avg_pressure_sea
- min_pressure_sea
- max_pressure_station
- avg_hourly_pressure_station
- avg_pressure_station
- min_pressure_station
- max_visibility
- avg_hourly_visibility
- avg_visibility
- min_visibility
- max_health_index
- avg_hourly_health_index
- avg_health_index
- min_health_index
- heatdegdays
- cooldegdays
- growdegdays_5
- growdegdays_7
- growdegdays_10
- precipitation
- rain
- snow
- snow_on_ground
- sunrise
- sunset
- daylight
- sunrise_f
- sunset_f
- min_uv_forecast
- max_uv_forecast
- min_high_temperature_forecast
- max_high_temperature_forecast
- min_low_temperature_forecast
- max_low_temperature_forecast
- solar_radiation
- max_cloud_cover_4
- avg_hourly_cloud_cover_4
- avg_cloud_cover_4
- min_cloud_cover_4
- max_cloud_cover_8
- avg_hourly_cloud_cover_8
- avg_cloud_cover_8
- min_cloud_cover_8
- max_cloud_cover_10
- avg_hourly_cloud_cover_10
- avg_cloud_cover_10
- min_cloud_cover_10

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
# Load the data

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv("data/weatherstats_toronto_daily.csv")
dataset.head(10)

,date,max_temperature,avg_hourly_temperature,avg_temperature,min_temperature,max_humidex,min_windchill,max_relative_humidity,avg_hourly_relative_humidity,avg_relative_humidity,...,avg_cloud_cover_4,min_cloud_cover_4,max_cloud_cover_8,avg_hourly_cloud_cover_8,avg_cloud_cover_8,min_cloud_cover_8,max_cloud_cover_10,avg_hourly_cloud_cover_10,avg_cloud_cover_10,min_cloud_cover_10
0,2021-06-29,32.5,24.41,26.80,21.1,41.0,NaN,96,82.3,77.0,...,NaN,NaN,8.0,6.0,5.5,3.0,NaN,NaN,NaN,NaN
1,2021-06-28,32.2,27.49,26.95,21.7,39.0,NaN,86,63.6,66.0,...,NaN,NaN,6.0,3.5,3.5,1.0,NaN,NaN,NaN,NaN
2,2021-06-27,30.7,27.40,27.25,23.8,39.0,NaN,73,63.4,63.5,...,NaN,NaN,8.0,4.9,4.5,1.0,NaN,NaN,NaN,NaN
3,2021-06-26,27.5,23.97,23.25,19.0,36.0,NaN,100,82.5,83.0,...,NaN,NaN,8.0,7.8,7.5,7.0,NaN,NaN,NaN,NaN
4,2021-06-25,25.8,21.24,22.30,18.8,30.0,NaN,100,74.0,75.0,...,NaN,NaN,8.0,7.7,6.5,5.0,NaN,NaN,NaN,NaN
5,2021-06-24,28.1,22.42,22.00,15.9,30.0,NaN,70,50.5,51.0,...,NaN,NaN,8.0,5.8,5.0,2.0,NaN,NaN,NaN,NaN
6,2021-06-23,23.7,17.55,16.25,8.8,NaN,NaN,79,53.1,57.0,...,NaN,NaN,6.0,3.4,3.5,1.0,NaN,NaN,NaN,NaN
7,2021-06-22,19.5,14.46,14.75,10.0,NaN,NaN,94,54.8,63.0,...,NaN,NaN,8.0,5.8,5.0,2.0,NaN,NaN,NaN,NaN
8,2021-06-21,29.7,21.06,20.65,11.6,34.0,NaN,100,74.9,72.5,...,NaN,NaN,8.0,7.0,5.5,3.0,NaN,NaN,NaN,NaN
9,2021-06-20,27.1,21.15,20.55,14.0,32.0,NaN,91,68.2,71.0,...,NaN,NaN,8.0,3.8,4.0,0.0,NaN,NaN,NaN,NaN

The above table is a subset of the first 10 rows of the dataset. As we can see, the dataset is ordered in reverse chronological order with 70 columns and 10,000 rows. We are also able to observe that every column except for the date column is numerical in nature. Moreover, we are able to see that the dataset has quite a few missing values.

In [4]:
dataset.shape

(10000, 70)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 70 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           10000 non-null  object
 1   max_temperature                10000 non-null  float64
 2   avg_hourly_temperature         10000 non-null  float64
 3   avg_temperature                10000 non-null  float64
 4   min_temperature                10000 non-null  float64
 5   max_humidex                    2783 non-null   float64
 6   min_windchill                  3354 non-null   float64
 7   max_relative_humidity          10000 non-null  int64
 8   avg_hourly_relative_humidity   10000 non-null  float64
 9   avg_relative_humidity          10000 non-null  float64
 10  min_relative_humidity          10000 non-null  int64
 11  max_dew_point                  10000 non-null  float64
 12  avg_hourly_dew_point           10000 non-null  float64
 13  avg_dew_point                  10000 non-null  float64
 14  min_dew_point                  10000 non-null  float64
 15  max_wind_speed                 10000 non-null  int64
 16  avg_hourly_wind_speed          10000 non-null  float64
 17  avg_wind_speed                 10000 non-null  float64
 18  min_wind_speed                 10000 non-null  int64
 19  max_wind_gust                  6939 non-null   float64
 20  wind_gust_dir_10s              6938 non-null   float64
 21  max_pressure_sea               10000 non-null  float64
 22  avg_hourly_pressure_sea        10000 non-null  float64
 23  avg_pressure_sea               10000 non-null  float64
 24  min_pressure_sea               10000 non-null  float64
 25  max_pressure_station           10000 non-null  float64
 26  avg_hourly_pressure_station    10000 non-null  float64
 27  avg_pressure_station           10000 non-null  float64
 28  min_pressure_station           10000 non-null  float64
 29  max_visibility                 10000 non-null  int64
 30  avg_hourly_visibility          10000 non-null  float64
 31  avg_visibility                 10000 non-null  int64
 32  min_visibility                 10000 non-null  int64
 33  max_health_index               3723 non-null   float64
 34  avg_hourly_health_index        3723 non-null   float64
 35  avg_health_index               3723 non-null   float64
 36  min_health_index               3723 non-null   float64
 37  heatdegdays                    10000 non-null  float64
 38  cooldegdays                    10000 non-null  float64
 39  growdegdays_5                  10000 non-null  float64
 40  growdegdays_7                  10000 non-null  float64
 41  growdegdays_10                 10000 non-null  float64
 42  precipitation                  9979 non-null   float64
 43  rain                           9970 non-null   float64
 44  snow                           9978 non-null   float64
 45  snow_on_ground                 7831 non-null   float64
 46  sunrise                        2737 non-null   object
 47  sunset                         2737 non-null   object
 48  daylight                       2737 non-null   float64
 49  sunrise_f                      2737 non-null   float64
 50  sunset_f                       2737 non-null   float64
 51  min_uv_forecast                2105 non-null   float64
 52  max_uv_forecast                2105 non-null   float64
 53  min_high_temperature_forecast  2737 non-null   float64
 54  max_high_temperature_forecast  2737 non-null   float64
 55  min_low_temperature_forecast   2737 non-null   float64
 56  max_low_temperature_forecast   2737 non-null   float64
 57  solar_radiation                0 non-null      float64
 58  max_cloud_cover_4              0 non-null      float64
 59  avg_hourly_cloud_cover_4       0 non-null      float64
 60  avg_cloud_cover_4              0 non-null      float64
 61  min_cloud_cover_4              0 non-null      float64
 62  max_cloud_cover_8              2821 non-null   float64
 63  avg_hourly_cloud_cover_8       2821 non-null   float64
 64  avg_cloud_cover_8              2821 non-null   float64
 65  min_cloud_cover_8              2821 non-null   float64
 66  max_cloud_cover_10             237 non-null    float64
 67  avg_hourly_cloud_cover_10      237 non-null    float64
 68  avg_cloud_cover_10             237 non-null    float64
 69  min_cloud_cover_10             237 non-null    float64
dtypes: float64(60), int64(7), object(3)
memory usage: 5.3+ MB

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
# Validate the Integrity of the data

### Missing Values

In [19]:
def find_missing_vals(dataset):
    '''Display columsn with missing data and indicate how many values are missing for each column.'''
    missing_vals = dataset.isnull().sum()
    cols_list = dataset.columns
    col_count = 0

    for col, val in zip(cols_list, missing_vals):
        if val > 0:
            print('{}: {} values misiing'.format(col, val))
            col_count += 1
    print('\n{} columns have missing values'.format(col_count))
    return zip(cols_list, missing_vals)

In [20]:
find_missing_vals(dataset)

max_humidex: 7217 values misiing
min_windchill: 6646 values misiing
max_wind_gust: 3061 values misiing
wind_gust_dir_10s: 3062 values misiing
max_health_index: 6277 values misiing
avg_hourly_health_index: 6277 values misiing
avg_health_index: 6277 values misiing
min_health_index: 6277 values misiing
precipitation: 21 values misiing
rain: 30 values misiing
snow: 22 values misiing
snow_on_ground: 2169 values misiing
sunrise: 7263 values misiing
sunset: 7263 values misiing
daylight: 7263 values misiing
sunrise_f: 7263 values misiing
sunset_f: 7263 values misiing
min_uv_forecast: 7895 values misiing
max_uv_forecast: 7895 values misiing
min_high_temperature_forecast: 7263 values misiing
max_high_temperature_forecast: 7263 values misiing
min_low_temperature_forecast: 7263 values misiing
max_low_temperature_forecast: 7263 values misiing
solar_radiation: 10000 values misiing
max_cloud_cover_4: 10000 values misiing
avg_hourly_cloud_cover_4: 10000 values misiing
avg_cloud_cover_4: 10000 values misiing
min_cloud_cover_4: 10000 values misiing
max_cloud_cover_8: 7179 values misiing
avg_hourly_cloud_cover_8: 7179 values misiing
avg_cloud_cover_8: 7179 values misiing
min_cloud_cover_8: 7179 values misiing
max_cloud_cover_10: 9763 values misiing
avg_hourly_cloud_cover_10: 9763 values misiing
avg_cloud_cover_10: 9763 values misiing
min_cloud_cover_10: 9763 values misiing

36 columns have missing values

We see that 36 columns in the dataset contain missing values and 34 columns have no missing values. Recall there are 10000 rows in the dataset, meaning that 5 columns have no entries and 23 columns conatain more than 6000 missing values.  

The `percipitation`, `rain` and `snow` columns have the least missing of columns that conain missing values. These columns contain less than 30 missing values.

In [17]:
#drop columns that have more than 60% of their values missing 
dropped_cols = ['max_humidex', 'min_windchill', 'max_health_index', 'avg_hourly_health_index', 'avg_health_index',
               'min_health_index', 'sunrise', 'sunset', 'daylight', 'sunrise_f', 'sunset_f', 'min_uv_forecast',
               'max_uv_forecast', 'min_high_temperature_forecast', 'max_high_temperature_forecast',
                'min_low_temperature_forecast', 'max_low_temperature_forecast', 'solar_radiation', 'max_cloud_cover_4',
               'avg_hourly_cloud_cover_4', 'avg_cloud_cover_4', 'min_cloud_cover_4', 'max_cloud_cover_8', 
                'avg_hourly_cloud_cover_8', 'avg_cloud_cover_8', 'min_cloud_cover_8', 'max_cloud_cover_10', 
               'avg_hourly_cloud_cover_10', 'avg_cloud_cover_10', 'min_cloud_cover_10']
data_reduced = dataset.drop(columns=dropped_cols)

In [24]:
data_reduced.shape

(10000, 40)

In [21]:
find_missing_vals(data_reduced)

max_wind_gust: 3061 values misiing
wind_gust_dir_10s: 3062 values misiing
precipitation: 21 values misiing
rain: 30 values misiing
snow: 22 values misiing
snow_on_ground: 2169 values misiing

6 columns have missing values

By removing columns that have more than 60% of their data missing, the dataset is left with 40 columns. Luckily the leftover columns with missing values can be calculated from the other data in the dataset. For example, `percipitation` is the sum of rain and snow, while `snow_on_ground` is a function of snow and temperature. Meaning, we can easily impute the values to make the dataset clean.

### Range of Values

In [26]:
# suppress scientific notation
pd.options.display.float_format = '{:.2f}'.format
data_reduced.describe()

,max_temperature,avg_hourly_temperature,avg_temperature,min_temperature,max_relative_humidity,avg_hourly_relative_humidity,avg_relative_humidity,min_relative_humidity,max_dew_point,avg_hourly_dew_point,...,min_visibility,heatdegdays,cooldegdays,growdegdays_5,growdegdays_7,growdegdays_10,precipitation,rain,snow,snow_on_ground
count,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,...,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,9979.00,9970.00,9978.00,7831.00
mean,13.51,8.99,8.85,4.20,85.54,69.61,69.27,53.01,6.43,3.26,...,14526.08,10.16,1.01,6.67,5.50,3.96,2.17,1.87,0.31,1.82
std,11.36,10.52,10.59,10.08,9.86,12.10,11.01,14.53,9.71,10.00,...,8908.72,9.32,2.17,7.16,6.42,5.25,5.46,5.28,1.46,5.06
min,-19.10,-21.95,-22.30,-26.30,38.00,27.70,29.50,13.00,-24.80,-28.10,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,3.90,0.75,0.60,-2.70,79.00,61.80,62.00,42.00,-1.00,-4.30,...,4800.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,14.00,9.04,8.94,4.10,87.00,70.00,69.50,53.00,6.70,3.30,...,16100.00,9.10,0.00,3.90,1.90,0.00,0.00,0.00,0.00,0.00
75%,23.50,18.38,18.20,12.80,93.00,78.00,77.00,63.00,14.80,11.80,...,24100.00,17.40,0.20,13.20,11.20,8.20,1.40,0.60,0.00,0.00
max,37.90,31.70,31.95,26.30,100.00,99.90,99.50,99.00,26.60,24.40,...,25000.00,40.30,13.90,26.90,24.90,21.90,126.00,126.00,30.40,67.00

Note that we cannot see all the values for each column so we must split the data up into chunks so we can view the distribution data of each column.